<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Author</title>
</head>
<body>

<h1>Add Author</h1>

<form th:action="${author.id == null} ? @{/authors} : @{'/authors/' + ${author.id} + '/edit'}"
      th:object="${author}" method="post">

    <div th:if="${author.id != null}">
        ID: <input type="text" th:field="*{id}" th:readonly="true"/><br>
    </div>

    Name: <input type="text" th:field="*{name}"/><br>
    <button type="submit">Submit</button>
</form>

<a href="/authors">Back</a>

</body>
</html>