<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add/Edit Book</title>
</head>
<body>

<h1>Add/Edit Book</h1>

<form th:action="${book.id == null} ? @{/books} : @{'/books/' + ${book.id} + '/edit'}"
      th:object="${book}" method="post">

    <div th:if="${book.id != null}">
        ID: <input type="text" th:field="*{id}" th:readonly="true"/><br>
    </div>

    Title: <input type="text" th:field="*{title}"/><br>
    <button type="submit">Submit</button>
</form>

<a href="/books">Back</a>

</body>
</html>