<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Magazines</title>
</head>
<body>

<h1>Magazines</h1>

<a href="/magazines/new">Add New Magazine</a>

<table border="1" cellpadding="4" cellspacing="0">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Publisher</th>
        <th>Actions</th>
    </tr>

    <tr th:each="magazine : ${magazines}">
        <td th:text="${magazine.id}"></td>
        <td th:text="${magazine.title}"></td>
        <td th:text="${magazine.publisher}"></td>
        <td>
            <form th:action="@{'/magazines/' + ${magazine.id} + '/detail'}" method="get" style="display:inline">
                <button type="submit">View</button>
            </form>

            <form th:action="@{'/magazines/' + ${magazine.id} + '/edit'}" method="get" style="display:inline">
                <button type="submit">Edit</button>
            </form>

            <form th:action="@{'/magazines/' + ${magazine.id} + '/delete'}" method="post" style="display:inline">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>

</table>

</body>
</html>
